h1 {
    padding: 10px;
    color: white;
    text-align: left;
    font-size: 2em;
    font-family: 'pixer';
}

#main {
    font-family: 'dotto';
    text-align: center;
    font-size: 4em;
    color: yellow;
}

.main-cont {
    display: flex;
    justify-content: center;
  align-items: center;   
  height: 100vh;        
}

#disc {
    font-family: 'Yellowtail';
    font-size: 2em;
    color: white;
}

ul {
    color: white;
}

.social-header ul {
    display: flex;           /* Display list items in a row */
    list-style-type: none;    /* Remove bullet points */
    padding: 0;               /* Remove padding */
    margin: 0;                /* Remove margin */
}

.social-header li {
    margin-right: 15px;       /* Space between each link */
    color: white;             /* Optional: Match your site color */
    font-size: 1.2em;         /* Adjust font size as needed */
    font-family: 'pixer';     /* Match your font */
}

.social-header li:last-child {
    margin-right: 0;          /* Remove margin from the last item */
}

@font-face {
    font-family: pixer;
    src: url(fonts/Pixer-Regular.woff);
}

@font-face {
    font-family: Sixtyfour;
    src: url(fonts/Sixtyfour-Regular.ttf);
}

@font-face {
    font-family: Yellowtail;
    src: url(fonts/Yellowtail-Regular.ttf);
}

@font-face {
    font-family: dotto;
    src: url(fonts/Doto-VariableFont_ROND\,wght.ttf);
}