h1 {
    padding: 10px;
    color: white;
    text-align: left;
    font-size: 2em;
    font-family: 'pixer';
}

#main {
    font-family: 'dotto';
    text-align: center;
    font-size: 4em;
    color: yellow;
}

.main-cont {
    display: flex;
    justify-content: center;
  align-items: center;   
  height: 100vh;        
}

#disc {
    font-family: 'Yellowtail';
    font-size: 2em;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    animation: slideIn 1s ease-in-out;
}
nav ul li a:hover {
    background-color: blue;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

@font-face {
    font-family: pixer;
    src: url(fonts/Pixer-Regular.woff);
}

@font-face {
    font-family: Sixtyfour;
    src: url(fonts/Sixtyfour-Regular.ttf);
}

@font-face {
    font-family: Yellowtail;
    src: url(fonts/Yellowtail-Regular.ttf);
}

@font-face {
    font-family: dotto;
    src: url(fonts/Doto-VariableFont_ROND\,wght.ttf);
}